#monname {
	font-weight: bold;
}

* {
	background-color: #36393f;
	color: white;
}

button.button, input.button {
    border: 2px solid white;
    background-color: #36393f;
    color: white;
}

.element {
	mix-blend-mode:lighten
}

.spacer {
    background-color: #36393f!important;
}

.blueback TD IMG {
    border: 3px outset white;
    filter: invert(0);
}

.black {
	color: white;
}

a, a>b, a:active, a:link, a:visited {
	color: #306897 !important;
}

#tabs li {
	background-color: transparent !important;
}

#tabs .tab, .tab .label, #tabs [class="tab unread"], [class="tab unread"] .label {
	background-color: #4a4a4a;
}

#tabs [class="tab active"], [class="tab active"] .label {
	background-color: gray;
}

p.rcm {
	background-color: black;
	border: solid 1pt white;
}

img {
	filter: invert(1);
	mix-blend-mode: lighten;
	background-color: transparent;
}

body {
	background-color:#36393f;
}

#fixedawesome {
	background-color: #36393f;
}

a.error {
	color: #ff0000;
	text-decoration: underline;
}

.elementnone {
	color: #000000;
}

.elementcold {
	color: #0000ff;
}

.elementhot {
	color: #ff0000;
}

.elementsleaze {
	color: #8a2be2;
}

.elementspooky {
	color: #808080;
}

.elementstench {
	color: #008000;
}

.elementslime {
	color: #006400;
}
